.search-container {
  display: flex;
  .search-bar {
    font-family: serif;

    width: 16rem;
    border: none;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    border-bottom: white solid 2px;
    padding: 0 0.6rem;
    margin-right: 1rem;
    &::placeholder {
      color: white;
      opacity: 1;
    }
  }
  input:invalid {
    border-color: red;
  }

  input:valid {
    border-color: var(--neon-green);
  }
}
