$red: #c22121;
$blue: #49caca;
$more-red: #b34343;
$more-blue: #7effff;
$neon-red: #ff3131;
$neon-pink: #ff10f0;
$neon-purple: #9d00ff;
$neon-blue: #1f51ff;
$neon-green: #39ff14;
$neon-orange: #ff5f1f;
$neon-gold: #fdbd01;
