.main {
  .header-container {
    display: flex;
    gap: 0.5rem;
  }
  .header-text {
    font-size: 2rem;
    text-transform: capitalize;
  }

  .location-text {
    margin: 0.2rem 0;
    font-size: 1.3rem;
  }

  .date-text,
  .time-text {
    font-size: 0.8rem;
  }

  .current-temp-text {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0.5rem 0 0.2rem 0;
  }
}
