.main {
  .header-container {
    display: flex;
    gap: 1rem;
  }
  .header-text {
    font-size: 4rem;
    text-transform: capitalize;
  }

  .location-text {
    font-family: "Courier New", Courier, monospace;

    margin: 0.4rem 0;
    font-size: 2.6rem;
  }

  .date-text,
  .time-text {
    font-size: 1.6rem;
  }

  .current-temp-text {
    font-size: 5rem;
    font-weight: 800;
    margin: 1rem 0 0.4rem 0;
  }
}
