.sidebar {
  font-size: 2rem;
  justify-self: end;
  .sidebar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .sidebar-label {
    font-size: 1.6rem;
  }

  .sidebar-text {
    font-size: 2.6rem;
  }
}
