@use "components";
@use "layout";
@use "abstracts";

*,
*::before,
*::after {
  color: aliceblue;
  margin: 0;
  padding: 0;
}

html,
body {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

body {
  display: flex;
  padding: 2rem;
}
