@use "components";
@use "layout";
@use "abstracts";

*,
*::before,
*::after {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

html,
body {
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

body {
  display: flex;
  padding: 1.5rem;
}
