@use "components";
@use "layout";
@use "abstracts" as *;

*,
*::before,
*::after {
  animation: text-color-change 4s linear infinite;

  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

html,
body {
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

body {
  display: flex;
  padding: 1.5rem;
}

@keyframes text-color-change {
  from {
    border-color: $neon-red;
  }

  25% {
    border-color: $neon-purple;
  }
  50% {
    border-color: $neon-blue;
  }
  75% {
    border-color: $neon-green;
  }
  100% {
    border-color: $neon-gold;
  }
  to {
    border-color: $neon-red;
  }
}
